<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="color: white; background-color: blue;">

    <!-- <h1>WELCOME <span style="color: black;"><%=username%></span></h1> -->
    <h1>WELCOME <span style="color:brown"><%=username%></span></h1>
    <ol>
        <%
        for(i = 0 ; i<users.length ; i++){

        
        %>
    </ol>
    <li><%=users[i]%></li>
 <%}%>
</body>
</html>